.btn-new-sm {
  background: #fff;
  padding: 5px;
  border: none;
}
.btn {
  width: 173px;
  height: 37px;
}
.btn-subscribe {
  width: 112px;
  height: 40px;
}
.btn-standard {
  border: 1px solid var(--oxfort-blue-354e57);
  border: 1px solid #354e57;
  opacity: 1;
}
.btn-standard:hover {
  background: var(--white-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--oxfort-blue-354e57);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #354e57;
  opacity: 1;
}
.btn-standard:disabled {
  border: 1px solid var(--oxfort-blue-354e57);
  background: #e4ecef 0% 0% no-repeat padding-box;
  border: 1px solid #354e57;
  opacity: 1;
}
.btn-subscribe-standard {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: center;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
  background: #a67744 0% 0% no-repeat padding-box;
  border: 1px solid #956a53;
  opacity: 1;
}
.btn-subscribe-standard:hover {
  background: #9a6b39 0% 0% no-repeat padding-box;
  border: 1px solid #956a53;
  opacity: 1;
}
.btn-subscribe-standard:disabled {
  background: var(--white-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #956a53;
  opacity: 1;
}
.btn-revieworder-standard {
  background: var(--oxfort-blue-354e57) 0% 0% no-repeat padding-box;
  background: #354e57 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}
.btn-revieworder-standard:hover {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: center;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.btn-revieworder-standard:disabled {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxfort-blue-354e57);
  text-align: center;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #354e57;
  opacity: 1;
}
