footer {
  background: var(--oxford-blue-354e57) 0% 0% no-repeat padding-box;
  background: #354e57 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  height: 736px;
  .aem-footer-content {
    width: 85%;
    margin: 167px auto 0 auto;
    color: var(--white-ffffff);
    .aem-footer-column {
      display: flex;
      width: 100%;
      border-bottom: 1px solid var(--white-ffffff);
      height: 283px;
      .aem-footer-subscribe {
        width: 60%;
        .aem-footer-logo {
          text-align: left;
          letter-spacing: 2.7px;
          font-size: 54px;
          p {
            font-size: var(--unnamed-font-size-12);
            height: 40px;
            padding-top: 15px;
          }
        }
        .aem-footer-input-subsriber {
          border: 1px solid var(--white-ffffff);
          opacity: 1;
          width: 369px;
          height: 40px;
          display: flex;
          justify-content: space-between;

          input {
            height: 38px;
            width: 100%;
            background-color: transparent;
            font-size: 20px;
            color: var(--white-ffffff);
            border: none;
          }
          input:focus-visible {
            outline: none;
          }
          .btn-subscribe-standard {
            background-color: transparent;
            border-left: 1px solid var(--white-ffffff);
          }
        }
      }
      .aem-footer-navigation {
        width: 35%;
        .aem-child-column {
          justify-content: space-between;
          display: flex;
          .aem-child-navigation {
            height: auto;
            title {
              height: 20px;
              display: inline;
              font: var(--unnamed-font-style-normal) normal 600 16px/19px
                var(--unnamed-font-family-proxima-nova);
              letter-spacing: var(--unnamed-character-spacing-0);
              color: var(--white-ffffff);
              text-align: left;
              letter-spacing: 0px;
              text-transform: uppercase;
              opacity: 1;
            }
            ul {
              list-style: none;
              margin-top: 22px;
              li {
                cursor: pointer;
                padding: 10px 0 0 0;
                font: var(--unnamed-font-style-normal) normal
                  var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
                  var(--unnamed-line-spacing-17)
                  var(--unnamed-font-family-proxima-nova);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--white-ffffff);
                text-align: left;
              }
            }
          }
        }
      }
    }
    .aem-footer-column-bottom {
      margin-top: 43.5px;
      position: relative;
      display: flex;
      .aem-footer-copyright {
        p {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) 16px/20px
            var(--unnamed-font-family-proxima-nova);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--white-ffffff);
          text-align: left;
          text-transform: uppercase;
          opacity: 1;
        }
        .aem-content-wrapper {
          display: flex;
          justify-content: space-between;
          margin-top: 18px;
          .aem-scurity-info {
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-normal) 16px/20px
              var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--white-ffffff);
            text-align: left;
            text-decoration: underline;
            opacity: 1;
            height: 40px;
          }
        }

        width: 50%;
      }
      .aem-footer-socialmedia {
        display: flex;
        position: absolute;
        bottom: 12px;
        right: 0;

        .aem-social-icon {
          display: block;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          margin-left: 40px;
          cursor: pointer;
          &.facebook {
            background-color: #ffffff;
            mask-image: url("../image/social/logo-facebook.svg");
          }
          &.twitter {
            background-color: #ffffff;
            mask-image: url("../image/social/logo-twitter.svg");
          }
          &.instagram {
            background-color: #ffffff;
            mask-image: url("../image/social/logo-instagram.svg");
          }
          &.youtube {
            background-color: #ffffff;
            mask-image: url("../image/social/logo-youtube.svg");
          }
        }
      }
    }
  }
}

@media (min-width:340px) and (max-width: 768px) {
  footer {
    height: 991px;
    .aem-footer-content {
      margin-top: 84px;
      .aem-footer-column {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        .aem-footer-subscribe {
          width: 100%;
          .aem-footer-input-subsriber {
            width: 100%;
            display: flex;
          }
        }
        .aem-footer-navigation {
          width: 100% !important;
          margin-bottom: 60px;
          .aem-child-column {
            width: 100%;
            display: block;
            .aem-child-navigation {
              float: left;
              width: 50%;
              margin-top: 13px 
            }
          }
        }
      }
      .aem-footer-column-bottom {
        display: flex;
        flex-direction: column;
        .aem-footer-copyright {
          width: 100% !important;
        }
        .aem-footer-socialmedia {
          position: relative;
          margin-top: 52px;
        }
      }
    }
  }
}
