.aem-Container {
  position: relative;
  width: 100%;
  background-color: #e0e3e8;
}

.aem-Container .aem-Offerbanner {
  height: 40px;
  /* UI Properties */
  background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.aem-Container .aem-Offerbanner p {
  font: var(--unnamed-font-style-normal) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--beige-f7f5e6);
  text-align: center;
  font: normal normal medium 16px/20px Proxima Nova;
  letter-spacing: 0px;
  opacity: 1;
  line-height: 35px;
}

.aem-Container .aem-Header {
  text-align: center;
  height: 84px;
  max-width: 1196px;
  margin: 44px auto 0px auto;
}

.aem-Container .aem-Header .aem-baricon {
  display: none;
}

.aem-Container .aem-Header .aem-close {
  display: none;
}

.aem-Container .aem-Header ul {
  list-style: none;
}

.aem-Container .aem-Header ul.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aem-Container .aem-Header ul.nav-left li {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/14px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
  text-align: left;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 47px;
}

.aem-Container .aem-Header ul.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.aem-Container .aem-Header ul.nav-right li {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/14px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
  text-align: left;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  opacity: 1;
  padding-right: 46px;
}

.aem-Container .aem-Header ul.nav-right span i {
  font-size: 12px;
  color: var(--oxford-blue-354e57) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-right: 39px;
}

.aem-Container .aem-Header .aem-Logo {
  text-align: left;
  letter-spacing: 1.6px;
  color: #293d45;
  opacity: 1;
  text-align: center;
  font-size: var(--unnamed-font-size-32);
  font-family: var(--unnamed-font-family-somatic-sounded);
}

.aem-Container .aem-Header .aem-Topheader {
  margin-top: 14px;
}

.aem-Container .aem-Header .aem-Navheader {
  margin-top: 14px;
}

.aem-Container .aem-Header .aem-navigation ul {
  list-style: none;
  margin-top: 25px;
}

.aem-Container .aem-Header .aem-navigation ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 63px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 16px/20px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
  text-align: left;
  letter-spacing: 0.8px;
  opacity: 1;
}

/* phone breakpoint */
@media screen and (max-width: 768px) {
  .aem-Header div {
    display: none;
  }
  .aem-Header {
    height: 25px !important;
    width: 332px !important;
    margin-top: 31px !important;
    position: relative;
    margin-left: 11px;
  }
  .aem-Container .aem-Header ul.nav-right li {
    padding-right: 0px !important;
  }
  .aem-Container .aem-Header ul.nav-right li.aem-cart i {
    padding-right: 14.8px !important;
  }
  .aem-response {
    position: fixed;
    background: #eef3f4 0% 0% no-repeat padding-box;
    height: 100vh !important;
    margin: 0 auto !important;
    width: 100% !important;
    overflow: hidden;
    opacity: 1;
    z-index: 99999;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;
  }
  .aem-response .aem-Topheader {
    display: block;
    position: absolute;
    bottom: 84px;
  }
  .aem-response .aem-Topheader ul.nav-left {
    display: block !important;
    padding-left: 57px !important;
  }
  .aem-response ul.nav-right li.aem-cart {
    padding-right: 57px !important;
  }
  .aem-response .aem-Topheader ul.nav-left li {
    padding: 11px;
    cursor: pointer;
  }
  .aem-isActive {
    display: none;
  }
  .aem-close-isActive {
    display: block !important;
    position: absolute;
    left: 57px;
    font-size: 20.95px;
    color: var(--oxford-blue-354e57);
    font-weight: var(--unnamed-font-weight-bold);
  }
  .aem-Header .aem-baricon {
    float: left !important;
    display: block !important;
    font-size: 1.5rem !important;
    width: 10% !important;
    font: var(--unnamed-font-style-normal) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
    margin-top: 0px;
    color: #293d45;
  }
  .aem-response .aem-baricon {
    display: none !important;
  }
  .aem-Header .aem-Logo {
    float: left !important;
    display: block !important;
    color: #293d45;
    font-size: 25px !important;
    font-weight: bold;
    opacity: 1 !important;
    line-height: 20px;
  }
  .aem-response .aem-Logo {
    display: none !important;
  }
  .aem-response .aem-Navheader {
    width: 100% !important;
    top: 57px;
    position: absolute !important;
  }
  .aem-Header .aem-Navheader {
    margin-top: 8px !important;
    display: block !important;
    position: absolute;
    right: 0;
  }
  li.aem-login {
    display: none;
  }
  .aem-response .navbar {
    display: block !important;
  }
  .aem-response .navbar ul {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin-top: 130px !important;
  }
  .aem-response .navbar ul li {
    padding-left: 57px !important;
    padding-bottom: 45px !important;
    cursor: pointer;
    font-size: var(--unnamed-font-size-24) !important;
    font-weight: var(--unnamed-font-weight-bold) !important;
  }
}

/* tablet breakpoint */
/*# sourceMappingURL=header.css.map */