@mixin background($num1, $num2) {
    background: var(--alabasterr-f7f7f7) url(../image/Sooth_home/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download.png);
    background-repeat: no-repeat;
    background-position: $num1 $num2;
    background-origin:content-box;
}

.img-tiles {
  background: var(--alabasterr-f7f7f7) 0% 0% no-repeat padding-box;
  .aem-product-tiles {
    max-width: 912px;
    position: relative;
    margin: 0 auto;
    .aem-header-title {
      h3 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-28) /
          var(--unnamed-line-spacing-34) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        text-align: center;
        opacity: 1;
      }
      p {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 16px /
          var(--unnamed-line-spacing-24) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        text-align: center;
        opacity: 1;
      }
    }
    .tiles-image {
      margin: 125px auto 191px auto;;
      .aem-tiles-card {
        width: 200px;
        margin: 0 auto;
        .tiles-card {
          width: 210px;
          height: 222px;
          display: block;
        
        }
        .image-1 {
          @include background(2%, 60%);
        }
        .image-2 {
          @include background(98%, 58%);
        }
        .image-3 {
          @include background(98%, 0%);
        }
        .image-4 {
          @include background(8%, 91%);
        }
        .image-5 {
          @include background(98%, 91%);
        }
        .image-6 {
          @include background(11%,0%);
        }
        .tiles-name {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) var(--unnamed-font-size-14) /
            var(--unnamed-line-spacing-17)
            var(--unnamed-font-family-proxima-nova);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--oxford-blue-354e57);
          text-align: center;
          opacity: 1;
          padding-bottom: 19px;
        }
        .tiles-description {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) 12px/16px
            var(--unnamed-font-family-proxima-nova);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--rangitoto-2e2e22);
          text-align: center;
          opacity: 1;
        }
      }
    }
  }
}
