.form-control {
  background: var(--white-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #bacad1;
  border-radius: 3px;
  opacity: 1;
}
.form-control:disabled {
  border: 1px solid var(--rangitoto-2e2e22);
  border: 1px solid #2e2e22;
  border-radius: 3px;
  opacity: 1;
}
.form-control-error {
    border: 1px solid var(--punch-de3b35);
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DE3B35;
    border-radius: 3px;
    opacity: 1;
}
