.bg-teaser-1 {
  background-color: var(--como-547665);
}
.bg-teaser-2 {
  background: var(--silver-rust-c6b9b6) 0% 0% no-repeat padding-box;
}
.aem-teaser {
  position: relative;
  padding: 0;

  .aem-col-wrapper {
    .aem-inner-wrapper {
      display: block;
      position: absolute;

      width: 50%;
      height: auto;
      top: 221px;
      left: 0;
      z-index: 1;
      .aem-container {
        margin: auto;
        position: relative;
        width: 85%;
        .aem-content-wrapper {
          max-width: 465px;
          h2 {
            font-weight: var(--unnamed-font-weight-bold);
            margin-bottom: 23px;
            color: var(--white-ffffff);
            &.heading-2 {
              font-size: var(--unnamed-font-size-40);
              line-height: 48px;
            }
          }
          p {
            color: var(--athens-gray-eef2f4);
            line-height: 24px;
            width: 431px;
            margin-bottom: 55px;
          }
          .aem-btn-wrapper {
            span {
              line-height: 36px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .aem-background-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    .aem-img-wrapper {
      width: 50%;
      height: 731px;
      overflow: hidden;
      background-image: url(../image/Sooth_home/man-in-blue-top-2830332.png);
      background-position: 25% 53%;
      background-repeat: no-repeat;
      background-size: inherit;
    }
  }
}
.aem-teaser-2 {
  position: relative;
  padding: 0;

  .aem-col-wrapper {
    .aem-inner-wrapper {
      display: block;
      position: absolute;
      height: auto;
      top: 0;
      right: 0;
      z-index: 1;
      padding-top: 253px;
      .aem-container {
        padding: 0 20px;
        margin: auto;
        position: relative;
        width: 100%;
        .aem-content-wrapper {
          max-width: 465px;
          h2 {
            font-weight: bold;
            margin-bottom: 23px;
            color: #ffffff;
            &.heading-2 {
              font-size: 40px;
              line-height: 48px;
            }
          }
          p {
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-normal) 16px /
              var(--unnamed-line-spacing-24)
              var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            line-height: 24px;
            width: 431px;
            margin-bottom: 55px;
          }
          .aem-btn-wrapper {
            span {
              line-height: 36px;
              text-align: center;
              border: 1px solid #956a53;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .aem-background-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    .aem-img-wrapper {
      display: block;
      width: 56%;
      height: 700px;
      overflow: hidden;
      background-image: url(../image/Sooth_home/sincerely-media-CjHJbp3zInA-unsplash.png);
      background-position: 29% 59%;
      background-repeat: no-repeat;
    }
  }
}

