@media screen and (max-width: 320px) {
  .mobile .aem-header {
    height: 25px;
    min-width: 332px;
    max-width: 90%;
    margin-top: 31px;
    position: relative;
    margin-left: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .aem-header div {
    display: none;
  }
  .mobile .aem-header ul.nav-right li {
    padding-right: 40px;
  }
  .mobile .aem-header ul.nav-right li.aem-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .aem-header ul.nav-right li.aem-cart span {
    width: 10px;
    padding-right: 15px;
    padding-top: 2px;
  }
  .mobile .aem-header ul.nav-right li.aem-login {
    display: none;
  }
  .mobile .aem-header .aem-baricon {
    float: left;
    display: block;
    font-size: 1.5rem;
    max-width: 10%;
    font: var(--unnamed-font-style-normal) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
    margin-top: 0px;
    color: #293d45;
  }
  .mobile .aem-header .aem-baricon img.mobile-nav-icon {
    height: 100%;
  }
  .mobile .aem-header .aem-logo {
    float: left;
    display: block;
    color: #293d45;
    font-size: 25px;
    font-weight: bold;
    opacity: 1;
    line-height: 17px;
  }
  .mobile .aem-header .aem-navheader {
    margin-top: 2px;
    display: block;
    position: absolute;
    right: 0;
  }
  .mobile .aem-response {
    position: fixed;
    background: #eef3f4 0% 0% no-repeat padding-box;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    z-index: 99999;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;
  }
  .mobile .aem-response .aem-topheader {
    display: block;
    position: absolute;
    bottom: 84px;
  }
  .mobile .aem-response .aem-topheader ul.nav-left {
    display: block;
    padding-left: 57px;
  }
  .mobile .aem-response .aem-topheader ul.nav-left li {
    padding: 11px;
    cursor: pointer;
  }
  .mobile .aem-response .aem-navheader {
    width: 100% !important;
    top: 57px;
    position: absolute;
  }
  .mobile .aem-response .aem-navheader ul.nav-right li.aem-cart {
    padding-right: 30px;
  }
  .mobile .aem-response .aem-navheader ul.nav-right li.aem-login {
    display: none;
  }
  .mobile .aem-response .aem-navheader .aem-close-isActive {
    display: block;
    position: absolute;
    left: 57px;
    font-size: 20.95px;
    color: var(--oxford-blue-354e57);
    font-weight: var(--unnamed-font-weight-bold);
    width: 30px;
  }
  .mobile .aem-response .aem-baricon {
    display: none;
  }
  .mobile .aem-response .aem-logo {
    display: none;
  }
  .mobile .aem-response .navbar {
    display: block;
  }
  .mobile .aem-response .navbar ul {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin-top: 130px;
  }
  .mobile .aem-response .navbar ul li {
    padding-left: 57px;
    padding-bottom: 45px;
    cursor: pointer;
    font-size: var(--unnamed-font-size-24);
    font-weight: var(--unnamed-font-weight-bold);
  }
  .mobile .aem-isActive {
    display: none;
  }
  .mobile .aem-Offerbanner p {
    font-size: var(--unnamed-font-size-13);
  }
  .mobile .aem-hero-banner {
    width: 100%;
    background: #e0e3e8 url(../../image/Sooth_home/updated_Header.png) no-repeat;
    background-position: 75% 0%;
    background-size: 671px;
    background-origin: padding-box;
    height: auto;
  }
  .mobile .aem-hero-banner .aem-container {
    width: 100%;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-content-wrapper {
    margin-top: 15%;
    width: 100%;
    font-size: 1.2rem;
    background: #e2e6e9;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-content-wrapper .aem-banner-title {
    background: #e2e6e9;
    padding: 10px;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-content-wrapper .aem-banner-title p {
    font-size: 42px;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-content-wrapper .aem-new {
    display: none;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-content-wrapper .aem-soap-products {
    text-align: center;
    padding: 18px 0 21px 0;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-img-wrapper {
    width: 290px;
    margin: 0 auto;
  }
  .mobile .aem-hero-banner .aem-container .aem-column-wrapper .aem-img-wrapper img {
    max-width: 100%;
    margin-left: 0;
  }
  .mobile .aem-secondary-banner {
    height: auto;
  }
  .mobile .aem-secondary-banner .aem-content {
    margin-top: 49px;
    max-width: 234px;
  }
  .mobile .aem-secondary-banner .aem-content h4 {
    height: 85px;
  }
  .mobile .aem-feature-banner {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .mobile .aem-feature-banner .aem-feature-content {
    width: auto;
    height: auto;
    margin-top: 91px;
  }
  .mobile .aem-feature-banner .aem-feature-content ul {
    display: -ms-grid;
    display: grid;
  }
  .mobile .aem-feature-banner .aem-feature-content ul li {
    margin-bottom: 76px;
    height: 100%;
    display: block;
    width: 100%;
    text-align: center;
  }
  .mobile .aem-news--banner {
    height: auto;
  }
  .mobile .aem-news--banner .aem-news-content {
    width: 100%;
    height: 403px;
    display: -ms-grid;
    display: grid;
    margin: 0px;
    overflow-x: hidden;
  }
  .mobile .aem-news--banner .aem-news-content .aem-title-text {
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 35px;
    margin-left: 18px;
  }
  .mobile .aem-news--banner .aem-news-content .aem-pragraph {
    padding-bottom: 19px;
  }
  .mobile .aem-news--banner .aem-news-content .aem-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
  }
  .mobile .aem-news--banner .aem-news-content .aem-subscribe .form-control-error {
    width: 100%;
  }
  .mobile .aem-news--banner .aem-news-content .line-border {
    border-bottom: 1px solid #d9cfdf;
    margin: 0 24px 0 24px;
    height: 0px;
  }
  .mobile .aem-product-tiles .aem-header-title h3 {
    width: 216px;
    margin: 30px auto;
  }
  .mobile .aem-product-teaser .text-wrapper {
    display: none;
  }
  .mobile .aem-product-teaser .text-wrapper.recomended-text {
    display: block;
  }
  .mobile .aem-container {
    max-width: none;
  }
  .mobile .aem-container .card {
    margin-left: 20px;
    max-width: calc(50% - 35px) !important;
  }
  .mobile .aem-container .aem-card-wrapper {
    width: 135px;
    height: 356px;
  }
  .mobile .aem-container .aem-card-wrapper .aem-card-image {
    height: 229px;
  }
  .mobile .aem-container .aem-card-wrapper .aem-card-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobile .btn-with-icon {
    min-width: 90%;
  }
  .mobile .recommended-card {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 521.5px;
    margin-bottom: 0;
  }
  .mobile .recommended-card .btn-with-icon {
    max-width: 100%;
  }
  .mobile .recommended-card .aem-card-image {
    max-width: 251px;
    height: 346px;
  }
  .mobile .recommended-card .aem-card-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobile .recommended-card .card .aem-card-wrapper {
    width: 251px;
    height: 462px;
  }
  .mobile .aem-teaser .aem-col-wrapper .aem-inner-wrapper {
    position: relative;
    width: 100%;
    top: 128px;
    height: 562px;
  }
  .mobile .aem-teaser .aem-col-wrapper .aem-inner-wrapper .aem-container {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mobile .aem-teaser .aem-col-wrapper .aem-inner-wrapper h2 {
    max-width: 334px;
  }
  .mobile .aem-teaser .aem-col-wrapper .aem-inner-wrapper p {
    display: block;
    max-width: 290px;
  }
  .mobile .aem-teaser .aem-col-wrapper .aem-background-img .aem-img-wrapper {
    max-height: 563px;
    background-position: 0% 58%;
    width: 100%;
    background-size: 138%;
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-inner-wrapper {
    position: relative;
    width: 100%;
    height: 562px;
    padding: 0;
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-inner-wrapper .aem-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 128px;
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-inner-wrapper .aem-container .aem-content-wrapper p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--oxford-blue-354e57);
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-inner-wrapper .aem-container .aem-content-wrapper .aem-btn-wrapper span {
    border: 1px solid var(--oxford-blue-354e57);
    color: var(--oxford-blue-354e57);
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-background-img {
    position: relative;
  }
  .mobile .aem-teaser-2 .aem-col-wrapper .aem-background-img .aem-img-wrapper {
    width: 100%;
    background-position: 23% 0%;
    background-repeat: no-repeat;
    background-size: 176% 123%;
    height: 563px;
  }
  .mobile footer {
    height: 991px;
  }
  .mobile footer .aem-footer-content {
    margin-top: 84px;
  }
  .mobile footer .aem-footer-content .aem-footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
  .mobile footer .aem-footer-content .aem-footer-column .aem-footer-subscribe {
    width: 100%;
  }
  .mobile footer .aem-footer-content .aem-footer-column .aem-footer-subscribe .aem-footer-input-subsriber {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile footer .aem-footer-content .aem-footer-column .aem-footer-navigation {
    width: 100%;
    margin-bottom: 60px;
  }
  .mobile footer .aem-footer-content .aem-footer-column .aem-footer-navigation .aem-child-column {
    width: 100%;
    display: block;
  }
  .mobile footer .aem-footer-content .aem-footer-column .aem-footer-navigation .aem-child-column .aem-child-navigation {
    float: left;
    width: 50%;
    margin-top: 13px;
  }
  .mobile footer .aem-footer-content .aem-footer-column-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile footer .aem-footer-content .aem-footer-column-bottom .aem-footer-copyright {
    width: 100%;
  }
  .mobile footer .aem-footer-content .aem-footer-column-bottom .aem-footer-socialmedia {
    position: relative;
    margin-top: 52px;
  }
}
/*# sourceMappingURL=mobile.css.map */